<!DOCTYPE html>
<html>
<head>
    <title>Tanish Backend</title>
    <img src="/static/cool_ronaldo.png">
    <style>
        body {
            background-color: #121212;
            color: white;
            font-family: Arial;
            text-align: center;
            margin-top: 100px;
        }

        h1 {
            color: #00ffcc;
        }

        button {
            padding: 10px 20px;
            background: #00ffcc;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>

    <h1>Backend is Running</h1>
    <p>This UI is served by Flask</p>
    <button>Click Me</button>

</body>
</html>
