<!DOCTYPE html>
<html>
<head>
    <title>Tanish Backend</title>
    <img src="/static/cool_ronaldo.png">
    <style>
        body {
            background-color: #121212;
            color: white;
            font-family: Arial;
            text-align: center;
            margin-top: 100px;
        }

        h1 {
            color: #00ffcc;
        }

        button {
            padding: 10px 20px;
            background: #5b1af3;
            border: goldenrod;
            cursor: pointer;
        }
    </style>
    
</head>
<body>

    <h1>welcome to Tanish's Website</h1>
    <p>This UI is served by Flask</p>
    <a href="{{ url_for('info') }}">
    <button>Go to About Page</button>
</a>

</body>
</html>
